:root {
  --primary-font-color: #000;
  --blocks-green-color: #5bd0a4;
  --blocks-blue-color: #01648b;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  font-family: "Overpass Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #01648b;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  border-bottom: 5px solid #2e8b57;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin-left: 20px;
}

#navbar a {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.spacer {
  height: 60px;
  width: 100%;
}

#welcome-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.2fr 0.2fr 0.5fr 0.25fr 0.2fr;
  width: 100%;
  height: 95vh;
  background-color: #2e8b57;
  gap: 5px;
}

.block-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(
    to top,
    var(--blocks-blue-color),
    var(--blocks-green-color)
  );
}

.block-1 i {
  color: var(--primary-font-color);
  font-size: 3rem;
  margin-top: 10px;
}

.block-2 {
  grid-column: 4 / 9;
  grid-row: 1/ 2;
  background-color: var(--blocks-green-color);
}

.block-3 {
  background-color: var(--blocks-green-color);
  grid-column: 1 / 6;
  grid-row: 2 / 3;
}

.block-4 {
  background-color: var(--blocks-blue-color);
  grid-column: 6 / 9;
  grid-row: 2 / 3;
}

.block-5 {
  background: linear-gradient(
    to bottom,
    var(--blocks-blue-color),
    var(--blocks-green-color)
  );
  grid-column: 1 / 9;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-5 .block-5-text-container {
  text-align: center;
  width: 30%;
}

.block-5 .block-5-text-container h1 {
  color: var(--primary-font-color);
  font-size: 3rem;
  margin-bottom: 0;
}

.block-5 .block-5-text-container p {
  color: var(--primary-font-color);
  font-size: 1.5rem;
  margin-top: 0;
}

.block-6 {
  background-color: var(--blocks-blue-color);
  grid-column: 1 / 6;
  grid-row: 4 / 5;
}

.block-7 {
  background-color: var(--blocks-green-color);
  grid-column: 6 / 9;
  grid-row: 4 / 5;
}

.block-8 {
  background-color: var(--blocks-green-color);
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

.block-9 {
  background: linear-gradient(
    to top,
    var(--blocks-blue-color),
    var(--blocks-green-color)
  );
  grid-column: 4 / 9;
  grid-row: 5 / 6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 3rem;
}

/* Projects Section */

#projects {
  height: 100%;
  background-color: #2e8b57;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#projects h2 {
  text-align: center;
  color: var(--primary-font-color);
  font-size: 3rem;
  margin-top: 5rem;
  text-shadow: 2px 2px var(--blocks-green-color);
}

.project-container {
  display: grid;
  gap: 70px 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  height: 100%;
  margin: 2rem auto; 
  padding: 0 5rem;
}

.project-tile {
  display: flex;
  flex-direction: column;
  margin: 0.5px auto;
  background-color: #01648b;
  border-radius: 10px;
  border: 1px solid var(--primary-font-color);
  width: 30rem;
  height: 30rem;
  box-shadow: 5px 0 10px var(--primary-font-color);
}

.project-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.tile-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: var(--blocks-blue-color);
  border-radius: 10px 10px 0 0;
}

.tile-banner img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.tile-description {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: var(--blocks-green-color);
  border-radius: 0 0 10px 10px;
}

.tile-description h3 {
  color: var(--primary-font-color);
  font-size: 1.5rem;
}
